.divControl {
  margin-top: 30px;
  margin-left: 2px;
  width: 200px;
  height: 300px;
  border: 2px;
  border-style: solid;
  border-color: rgb(75, 43, 0);
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.console{
  margin-top: 15px;
  margin-left: 12px;
}

.refresh{
  margin-top: 20px;
  margin-left: 11px;
}

.refreshButton{
  margin-top: 0px;
  margin-left: 5%;
  width: 90%
}

.stepNumber{
  margin-top: 22px;
  margin-left: 11px;
}

.stepNumbers{
  margin-top: 0px;
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.littleTail{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  text-align: center;
  font-size: 8px;
}